%section
  %header
    %h1
      = @tale.title
    %h2
      %i
        Set in 
        = @tale.where
    %p
      - if @tale.account == current_account
        = link_to "Edit overview", url_for(:tales, :edit, :slug => @tale.slug), :class => "btn"
      - if @tale.account == current_account
        = link_to "Manage the steps that make up this tale", url_for(:tales, :manage, :slug => @tale.slug), :class => "btn"
  #description    
    - unless @tale.embed_url.blank?
      .tale_embed
        %a{:href=> @tale.embed_url}
    = simple_format @tale.description

    %p.twitter_user
      %a{:href=>"https://twitter.com/#{@tale.account.screen_name}"}
        %img{:src=>"https://api.twitter.com/1/users/profile_image?screen_name=#{@tale.account.screen_name}&size=normal"}
        %br
        By
        = "@#{@tale.account.screen_name}"

  - if @tale.steps.blank?
    %h2
      Coming soon
  - else
    %section
      %header
        %h1
          Play this tale
        %p
          To begin the game, please follow these instructions:

        = simple_format @tale.start_the_game

        %p
          - if current_step(@tale) == @tale.steps.first
            = link_to "Start", url_for(:tales, :play, :slug => @tale.slug), :class => "btn"
          - else
            = link_to "Continue", url_for(:tales, :play, :slug => @tale.slug), :class => "btn"