%section
  %h1
    = @tale.title

    (
    = link_to "Edit", url_for(:tales, :edit, :slug => @tale.slug)
    )
  %h2
    %i
      Set in 
      = @tale.where
  #description    
    = simple_format @tale.description

  %section
    %header
      %h1
        Play this game
      %p
        To begin the game, please follow these instructions:

      = simple_format @tale.start_the_game

      %p
        - if current_step(@tale) == @tale.steps.first
          = link_to "Start", url_for(:tales, :play, :slug => @tale.slug), :class => "btn"
        - else
          = link_to "Continue", url_for(:tales, :play, :slug => @tale.slug), :class => "btn"