-# coding: utf-8
!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Tales you Win
    %meta{:charset => "utf-8"}/
    %link{:rel => "shortcut icon", :href=>"/icons/icon57x57.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"57x57", :href=>"/icons/icon57x57.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"72x72", :href=>"/icons/icon72x72.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes=>"114x114", :href=>"/icons/icon114x114.png"}/
    
    %meta{:name => "keywords", :value => "Tales You Win"}
    %meta{:name => "description", :value => "Cultural games anyone can make"}
    %meta{:name => "MSSmartTagsPreventParsing", :content => "true"}/
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}/
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1;maximum-scale=1;minimum-scale=1;user-scalable=no;"}/
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}/
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    %link{:href => "/stylesheets/application.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    
    = favicon_tag '/favicon.ico'
    %script{:src=>"/assets/modernizr.js",:type=>"text/javascript"}
  
    <script type="text/javascript" src="http://use.typekit.com/pkt6axk.js"></script>  
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    - if Padrino.env == :production  
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32493853-1']);
        _gaq.push(['_setDomainName', 'sketchingwithcode.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body{:id=>(request.path.split("/")[1] rescue "")}
    .page
      - unless @step 
        #sign_in_out
          - if current_account
            %a.btn-primary.btn-small{:href=>"/sign_out"}
              %i.icon-facebook-sign
              Sign out
          - else
            Sign in with
            %a#sign_in.btn-primary.btn-small{:href=>"/auth/twitter"}
              %i.icon-twitter-sign
              %span
                Twitter
        %header#header{:class=>("large" if @home)}          
          %h1#logo
            %a{:title=>"Tales you Win", :href=>"/"} Tales you Win
          %h2
            Game-like stories that you play in the real world
      
      %section.content
        = yield
      - unless @step
        %footer  
          %p
            A Culture Hack by
            %a{:href=>"http://stef.io"} Stef
      - if @step
        %footer
          %p
            %a{:href=>url_for(:tales, :show, :slug => @step.tale.slug)}= @step.tale.title
        
        
  = javascript_include_tag "/javascripts/jquery.js"
  <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
  %script{:src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8", :type=>"text/javascript"}
  = yield_content :scripts
  = javascript_include_tag "/javascripts/app.js"
  = "<!-- Rendered at #{Time.now} -->"